/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* * {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */

/* Style */

body {
    /* background-color: #e2e2e2; */
    background-color: rgb(255, 251, 0);
    color: deeppink;
}

.header {
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: orangered;
    border-bottom: 5px solid limegreen;
    z-index: 9999;
}

.header h2 {
    margin-left: 50px;
    margin-right: 800px;
    font-size: 30px;
    line-height: 60px;
    color: gold;
    float: left;
}

.header a, .header button {
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: rgb(255, 255, 110);
    /* background-color: gold; */
    cursor: pointer;
    font-size: 15px;
    font-family: serif;
    line-height: 20px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 7px;
    border: 2px solid green;
    border-radius: 30%;
}

.header a:hover, .header button:hover {
    color: green;
    background-color: black;
}

.hero {
    position: relative;
    text-align: left;   
}

.halo {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    cursor: default;
}

.halo h1 {
    font-size: 125px;
    font-family: Arial;
}

.halo h1:hover {
    color: gold;
    font-size: 150px;
    font-weight: bold;
}

.halo h2 {
    font-size: 50px;
    font-family: serif;
    /* margin-bottom: 20px; */
}

.halo h2:hover {
    color: silver;
    font-style: italic;
}

.hyperlink {
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hyperlink ul li {
    display: inline-block;
    font-size: 30px;
}

.hyperlink a {
    text-decoration: none;
    color: white;
    margin-right: 30px;
    margin-left: 40px;
    padding: 5px;
}

.hyperlink a:hover {
    color: darkgoldenrod;
}

.isi {
    width: 1000px;
    margin: auto;
    padding: 30px;
    /* border: 2px dashed red; */
    /* background-color: rgb(201, 201, 201); */
    background-color: skyblue;
    box-sizing: border-box;
}

.me {
    padding: 30px;
    overflow: auto;
    color: darkblue;
}

.me img {
    border-radius: 50%;
    border: 5px solid white;
    float: left;
    margin-right: 30px;
}

.me h2 {
    font-family: serif;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

.hr-me {
    border: 7px solid green;
    border-radius: 50px;
}

.antara {
    border: 3px solid green;
    border-radius: 20px;
}

.sub-me, .sub-judul {
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
    font-size: 5rem;
}

.sub-me {
    margin-top: 15px;
}

.sub-judul {
    margin-top: 3rem;
}

.sub-judul:hover , .sub-me:hover {
    color: indigo;
    /* font-variant: small-caps; */
}

.its, .smala {
    font-family: courier;
    font-size: 30px;
    color: darkred;
    margin-top: 25px;
}

.its:hover, .smala:hover {
    color: darkorange;
    font-weight: bold;
}

.jurusan {
    font-family: serif;
    font-size: 25px;
    font-style: italic;
    color: darkblue;
    margin-top: 20px;
    margin-bottom: 20px;
}

.jurusan:hover {
    color: darkturquoise;
    font-weight: bold;
}

.logo {
    border-radius: 10%;
    border: 5px solid blue;
    background-color: whitesmoke;
    float: left;
    margin-right: 30px;
}

.bio-isi p, .edu-isi p, .prestasi-isi p {
    font-family: arial;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}


.sub-contact {
    text-align: center;
    font-family: serif;
    font-size: 70px;
    font-weight: bold;
    color: darkblue;
    margin-top: 100px;
    margin-bottom: 50px;
}

.mail-img {
    margin-right: 35px;
    margin-left: 50px;
    padding-left: 20px;
}

.wa-img {
    margin-right: 90px;
    margin-left: 30px;
}

.ig-img {
    margin-left: 30px;
}

/* Footer */

.footer {
    background-color: chocolate;
    padding: 20px;
}

.footer .copyright {
    color: darkgrey;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}


/* Dark Mode */

.dark-mode {
    background-color: rgb(65, 65, 65);
    /* background-color: green; */
    color: blue;
}

.dm-topnav {
    background-color: darkred;
    border-bottom: 5px solid darksalmon;
}

/* .dm-mycv {
    color: green;
}

.dm-button {
    color: green;
    background-color: black;
} */

.dm-isi {
    background-color: black;
}

.dm-about {
    color: skyblue;
}

.dm-contact {
    color: skyblue;
}

